{% extends "base.html" %}
{% load static %}

{% block content %}
    <img src="https://static.vecteezy.com/system/resources/thumbnails/007/872/721/original/feeding-domestic-ducks-and-chickens-in-farm-of-thailand-business-farming-concept-video.jpg" alt="free range chickens" class="hero-img">
    <main>
        <div class="container mb-5 d-flex flex-column">
            <h1>About Us</h1>
            <section>
                <h2 class="mb-3">What matters to us</h2>
                <p>
                    Here at <span class="logo-font">DucksKenya</span> we take pride in raising quality poultry while adhering
                    to the highest standards of animal welfare. This not only makes for happy, healthy and productive birds, but also 
                    for satisfied customers and easy poultry management with great rewards. 
                </p>  
            </section>
            <section class="mt-4">
                <h2 class="mb-3">Pick-Up information</h2>
                <p>
                    As our products are live animals, we are unable to offer shipment via postal service or courier and operate on a pick-up 
                    only basis. Collection is possible anytime during our <a href="#opening-hours">opening hours</a>.<br>
                    While you are at DucksKenya farm to collect your order, our members of staff will be more than happy to show you around,
                    answer any additional questions you might have and offer advice on all things poultry.
                </p>
            </section>
            <section class="mt-4" id="contact-info">
                <h2 class="mb-3">Contact Us</h2>
                <p>
                    Please get in touch with us for any queries regarding your order, pick-up or general product information. <br>
                    We are also happy to offer advice before or after your purchase with us. If you can't find your questions answered in our 
                    <a href="{% url 'forum' %}">Forum</a>, please reach out and we'll be glad to help!

                </p>
                <div class="row">
                    <div class="col-12 col-md-6 mt-4">
                        <h3 class="text-uppercase">How to reach us:</h3>
                        <address class="fs-4">
                            DucksKenya Farm <br>
                            Juja Farm <br>
                            Thika Farm <br>
                            Nairobi Farm<br>
                            Muranga Farm <br>
                            <div class="mt-3"><iconify-icon inline icon="entypo:email"></iconify-icon> wamiriwamungai@gmail.com
                            <div class="mt-2"><iconify-icon inline icon="ph:phone-light"></iconify-icon> 0750614926</div>
                        </address>
                    </div>
                    <div class="col-12 col-md-6 mt-4">
                        <div id="opening-hours">
                            <h3 class="text-uppercase" aria-label="opening-hours">When to reach us:</h3>
                            <table class="fs-5">
                                <tr class="lh-lg">
                                    <td class="pe-5">Monday</td>
                                    <td>9:00 - 17:00</td>
                                </tr>
                                <tr class="lh-lg">
                                    <td class="pe-5">Tuesday</td>
                                    <td>9:00 - 17:00</td>
                                </tr>
                                <tr class="lh-lg">
                                    <td class="pe-5">Wednesday</td>
                                    <td>9:00 - 17:00</td>
                                </tr>
                                <tr class="lh-lg">
                                    <td class="pe-5">Thursday</td>
                                    <td>9:00 - 17:00</td>
                                </tr>
                                <tr class="lh-lg">
                                    <td class="pe-5">Friday</td>
                                    <td>9:00 - 17:00</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}