<form class="form update-form" method="POST" action="{% url 'adjust_basket' item.item_id %}">
    {% csrf_token %}
    <div class="form-group">
        <div class="input-group justify-content-end">
            
            <div class="input-group-prepend">
                <button class="decrement-qty btn btn-colour-bg m-1"
                    data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                    <b>
                        -
                    </b>
                </button>
            </div>
            
            <input class="form-control form-control-sm qty_input text-end rounded" type="number"
                name="quantity" value="{{ item.quantity }}" min="1" max="99"
                data-item_id="{{ item.item_id }}"
                id="id_qty_{{ item.item_id }}">
            
            <div class="input-group-append">
                <button class="increment-qty btn btn-colour-bg m-1"
                    data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                    <b>
                        +
                    </b>
                </button>
            </div>
            
        </div>
    </div>
</form>
<a class="update-link text-info"><small>Update</small></a>
<a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}"><small>Remove</small></a>